* {
    padding: 0;
    margin: 0;
    box-sizing: border;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color:#191970;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cards .box-img {
    width: 300px;
}

.box-img img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 3px 3px 3px black;

    filter: grayscale(100%);
}

.box-img img:hover {
    filter: grayscale(0);
}